img {
    width: 100px;
    height: 100px;
    float: left;
}

header h1 {  
    font-family: sans-serif;
    float: left;
    margin-left: 10px;
    width: 640px;
}

.nav ul {
  clear: both;
}

.nav li {
  list-style-type: none;
  display: inline;
  padding-left: 5px;
}
